@using KST.Blazor.Windows.Internal
<div style="display: none" role="none">
    @if (this.WindowManagement is WindowManagementImpl impl)
    {
        foreach (var window in impl.Windows)
        {
            <InternalWindowHandlerComponent Window="@window" @key="window.Id" />
        }
    }
</div>