@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="OpenWindow">Open</button>
<button class="btn btn-primary" @onclick="OpenTab">Open as tab</button>

@code {
    [Inject]
    public IWindowManagement WindowManagement { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task OpenWindow()
    {
        await this.WindowManagement.OpenWindow<Counter>(new() { Title = "Counter" });
    }

    private async Task OpenTab()
    {
        await this.WindowManagement.OpenWindow<Counter>(NewWindowOptions.AsTab with{ Title = "Counter"});
    }

}
