@page "/fetchdata"

@using BlazorWindowsExample.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="OpenWindow">Open</button>
<button class="btn btn-primary" @onclick="OpenTab">Open as tab</button>

@code {
    private WeatherForecast[] forecasts;

    [Inject]
    public IWindowManagement WindowManagement { get; set; }


    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }

    private async Task OpenWindow()
    {
        await this.WindowManagement.OpenWindow<FetchData>(new NewWindowOptions() { Title = "Weather" });
    }

    private async Task OpenTab()
    {
        await this.WindowManagement.OpenWindow<FetchData>(NewWindowOptions.AsTab with { Title = "Weather" });
    }
}
