@if (this.Window is WindowImpl impl)
{
    <CascadingValue Value="@this.Window" IsFixed="true">
        <div>
            <div @ref="this.aWindowElementRef">
                @(new RenderFragment(this.RenderWindowContent))
            </div>
        </div>
    </CascadingValue>
}