@using KST.Blazor.Windows.Abstractions
@if (this.CurrentWindow is IWindow window)
{
    <p>I'm in window with GUID @window.Id</p>
    <p>I'm in window with title @window.Title <button @onclick="ChangeTitle">Change</button></p>
}

@code {
    [CascadingParameter]
    public IWindow CurrentWindow { get; set; }

    private async Task ChangeTitle()
    {
        await this.CurrentWindow.ChangeTitleAsync("NewTitle");
    }
}
